@import "./mixins";
@media screen and (max-width: 840px) {
    .navigation {

        &__btn {
            font-size: 12px;
            letter-spacing: 0.01em;
            padding: 12px 19px;
        }
    }

    .navigation .menu {
        margin-right: 10px;
        gap: 0 19px;
    }

    }



@media screen and (max-width: 1023px){
    .header {

        &-main {
            flex-direction: column;
            max-width: 100%;
        }

        &-image {
            width: 100%;
            height: auto;
            text-align: center;
        }
    }


    .service {
        &-list {
        display: grid;
        justify-content: flex-start;
        grid-auto-columns: 270px;
        grid-auto-flow: column;
        grid-gap: 1.5rem;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        grid-template-columns: unset;
        }
        &-list::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        &-list > *{
            scroll-snap-align: start;
        }
         
    }

    .blog {
        &-list {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: 300px;
            grid-auto-flow: column;
            grid-gap: 1.5rem;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            grid-template-columns: unset;
            }
            &-list::-webkit-scrollbar {
                display: none;
                width: 0;
            }
            &-list > *{
                scroll-snap-align: start;
            }
    }
    
}
    

@media screen and (min-width: 769px) {
    .navigation {
        &__btn {
            & i {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .navigation {
        justify-content: space-between;
    }
    .navigation__btn {
        & a {
            display: none;
        }
    }
       
    

    .navigation .menu {
        display: none;

    }

    .service__content {
        padding: 0;
    }
    .global__heading-second{
        font-size: 18px;
    }
    .button-small {
        font-size: 10px;
        padding: 8px 12px;
    }

    .connect {
        &-input {
            padding: 15px 100px 15px 35px;
        }
    }

    .footer__content {
        gap: 50px;
    }
        
    /*.navigation .menu {
       margin: 0 auto;
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       width: 300px;
       flex-direction: column;
       justify-content: flex-start;
       background-color: pink;
       box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       z-index: 50;
       
       &-link {
        padding: 15px;
        width: 100%;
       }
    }*/
}

@media screen and (max-width: 376px) {
    .global {
        &-caption {
            font-size: 35px;
            line-height: 50px;
        }

        &__heading {

            &-first {
                font-size: 26px;
                line-height: 41px;
            }

        }

        &__text {
            &-first {
                font-size: 16px;
            }
        }
    }

    .button {
        padding: 12px 18px;
    }

    .header-image img {
        max-width: 100%;
    }

    .connect {
        &-input {
            padding: 15px 80px 15px 5px;
            margin-bottom: 20px;
        }
    }

    .footer {
        margin: 0;
        &-top {
            display: none;
        }

        &-bottom {
            margin: 10px;
        }
    }
}

