section.blog 
    .blog-header 
        h2.global__heading.global__heading-first.blog-heading Stay Update with Travio Tips


    .blog-list 
        +blogitem("./images/blog1.png", "Including animation in your design system.", "January 25, 2021", "A leisurely start as not expected at our next campsite....")
        +blogitem("./images/blog2.png", "Including animation in your design system.", "January 25, 2021", "A leisurely start as not expected at our next campsite....")
        +blogitem("./images/blog3.png", "Including animation in your design system.", "January 25, 2021", "A leisurely start as not expected at our next campsite....")
    .blog-btn 
        a.button.button-big(href="#") All Blog Posts