section.connect 
    .connect-title
        h2.global__heading.global__heading-first.connect-heading Subscribe our newsletter and get update everytime.

    .connect-form 
        input.connect-input(type="text" placeholder="Enter your email...")
        button.button.button-big Get Started