section.service 
    .service-header 
        h2.global__heading.global__heading-first.service-heading Special offers & Discounts
        p.global__text.global__text-second.service-desc Travel by water often provided more commfort and speed than land-travel.
    
    .service-list
        +serviceitem("./images/japan.png", "Japan", "6 day 6 Nights", "Book Now" )
        +serviceitem("./images/italy.png", "Italy", "7 day 6 Nights", "Book Now" )
        +serviceitem("./images/canada.png", "Canada", "6 day 5 Nights", "Book Now" )
        +serviceitem("./images/brazil.png", "Brazil", "9 day 8 Nights", "Book Now" )

    .service-btn
        a.button.button-big(href="#") See More

        
