footer.footer
    .footer-top
        .footer-logo
            img(src="./images/logo1.png" class="footer__logo-img")
            p.global__text.global__text-second.footer__logo-text We believe brand interaction is key in commu- nication. Real innovations and a positive.
        .footer__content
            ul
                li
                    a(href="#")
                        h3.global__heading.global__heading-third.footer__content-title Company
                li  
                    a(href="#")
                        p.blobal__text.global__text-second About us
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Company
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Press & Blog
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Privacy Policy          


            ul 
                li
                    a(href="#")
                        h3.global__heading.global__heading-third.footer__content-title Services
                li  
                    a(href="#")
                        p.blobal__text.global__text-second How It Works
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Our Blog
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Our Services
                li 
                    a(href="#")
                        p.blobal__text.global__text-second Contact Us






            ul 
                li
                    a(href="#")
                        h3.global__heading.global__heading-third.footer__content-title Quick Link
                li  
                    a(href="#")
                        p.blobal__text.global__text-second Press Centre
                li  
                    a(href="#")
                        p.blobal__text.global__text-second  Travel News
                li  
                    a(href="#")
                        p.blobal__text.global__text-second  About Us
                li  
                    a(href="#")
                        p.blobal__text.global__text-second  Privacy Policy

                    
                
    hr
    .footer-bottom 
        p.blobal__text.global__text-third Besnik © 2021 All Right Reserved