header.header
    .navigation 
        img(srcset="./images/logo1.png 2x" class="header__logo")
       

        .navigation-icon 
            img(rsc="./images/icon-bar.png")

        include ./menu
        .navigation__btn
            a.button(href="#") Contact Us
            i.fa-solid.fa-bars.navigation__btn-icon


    .header-main 
        .header-content 
            h1.global-caption.header-caption Tour your dream destination with tourve.
            p.global__text.global__text-first.header-text Plan and book your perfect trip with expert advice, travel tips, destination information and inspiration from us.

            .header-btn 
                a.button(href="#") Discover Now

        .header-image
            img(src="./images/banner.png", alt="anh banner")