ul.menu 
    li.menu__item 
        a.menu-link(href="")  Home

    li.menu__item 
        a.menu-link(href="")  About

    li.menu__item 
        a.menu-link(href="")  Destinations

    li.menu__item 
        a.menu-link(href="")  Tours

    li.menu__item 
        a.menu-link(href="")  Blog

        



